tensorflow==1.15.0
keras==2.2.4
h5py<3.0.0
lensfunpy==1.6.1
opencv-python-headless==4.4.0.46
piexif==1.1.3
pillow==8.1.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyYAML==5.3.1
pyzbar==0.1.8
pylibdmtx==0.1.9
rawpy==0.15.0
watchdog==0.10.4
requests==2.25.0
