keras==2.2.4
numpy==1.16.4
h5py==2.9.0
lensfunpy==1.6.1
Markdown==3.1.1
opencv-python==4.1.0.25
pathtools==0.1.2
piexif==1.1.2
Pillow==6.0.0
protobuf==3.8.0
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyYAML==5.1.1
pyzbar==0.1.8
pylibdmtx==0.1.9
rawpy==0.13.1
sip==4.19.8
six==1.12.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
watchdog==0.9.0
Werkzeug==0.15.4
wrapt==1.11.2
